{% from "macros/form_field.html" import form_field %}
<form action="/api/comment" class="form form-horizontal" id="comment-form" method="post">
    {{  form_field(form.name) }}
    {{  form_field(form.email) }}
    {{  form_field(form.url) }}
    {{  form_field(form.body) }}
    {{  form.entry_id() }}
    <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-default">Submit</button>

    </div>

</form>