{%  extends "base.html" %}
{% block title %}{{ entry.title }}{%  endblock %}
{% block content_title %}{{ entry.title }}{%  endblock %}
{%  block sidebar %}
    <ul class="well nav nav-list">
        <li><h4>Tags</h4></li>
        {%  for tag in entry.tags %}
                <li><a href="{{ url_for('entries.tag_detail', slug = tag.slug) }}">{{ tag.name }}</a></li>
        {% endfor %}
    </ul>
    <p>Published {{  entry.created_at.strftime('%m %d/%Y') }}</p>
    {%  if entry.author==g.user %}
        <li><h4>Actions</h4></li>
        <li></li><a href="{{  url_for('entries.edit', slug=entry.slug) }}">Edit</a></li>
        <li></li><a href="{{  url_for('entries.delete', slug=entry.slug) }}">Delete</a></li>
    {% endif %}

{%  endblock %}
{%  block content %}
    {{ entry.body }}
    <h4 id="comment-form">Submit a comment</h4>
    {%  include "entries/includes/comment_form.html" %}
{%  endblock %}